<div id="header">
    <h1>Asesoria en Desarrollo de Software</h1>
    <nav>
        <a href="/"><%= sails.__("Inicio") %> </a>
        |
        <a href="/solicitud-de-servicio"><%= sails.__("Solicitud de servicio") %></a>
        |
        <a href="/mision"><%= sails.__("Mision") %></a>
        |
        <a href="/vision"><%= sails.__("Vision") %></a>
        |
        <a href="/contacto"><%= sails.__("Contacto") %></a>
    </nav>
</div>